<form>
    <div id=loadContainer>
        <h1 mat-dialog-title>Welcome</h1>
        <mat-dialog-content>
            Continue or new Game?
        </mat-dialog-content>
        <mat-dialog-actions>
            <ul style="list-style-type:none">
                <li> <button (click)="newGame()">New Game</button> </li>
                <li> <button (click)="Load()">Load Game</button> </li>
            </ul>
            <div hidden="true">
                    <button class="mat-raised-button" (click)="close()">Close</button>
                    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
            </div>
        </mat-dialog-actions>
    </div>
</form>
