html {
    background-image: url('/src/assets/images/Scroll.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
html, body { height: 100%; }

body { margin: 0; font-family: 'Roboto', sans-serif; }

.diaStyle{
    height: 50vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25vh;
    margin-bottom: 25vh;
    background-image: url('/src/assets/images/dungeon.jpg'); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
